<div class="container mt-5">

    <form action="/invite/createCard" method="post" class="row justify-content-center">
        <div class="form-group col-md-10">
            <input name="title" id="title" type="text" class="form-control" placeholder="Event Heading" required>
        </div>
        <div class="form-group col-md-10">
            <textarea name="details" id="details" class="form-control" rows="5" placeholder="Event Details ..." required></textarea>
        </div>
        <div class="form-group col-md-10">
            <input name="oDetails" id="oDetails" class="form-control" placeholder="Organiser's Details" required>
        </div>
        <!--<div class="form-group col-md-10">-->
            <!--<label for="file">Example file input</label>-->
            <!--<input type="file" class="form-control-file" id="file">-->
        <!--</div>-->
        <!--this part is for uploading photo with invite card which is not made as of now-->
        <div class="form-group col-md-10">
            <button type="submit" class="btn btn-success">Get iNVITE page</button>
        </div>
    </form>
</div>


<script>

</script>
