<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootswatch lux css is used here not vanilla bootstrap-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/commonStyles.css">
    <script src="/assets/js/jquery-3.2.1.js"></script>
    <title>{{title}}</title>
</head>
<body>

{{{body}}}



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.js"></script>
</body>
</html>