<h2>this is shareable link : http://localhost:8888/invite/cards/{{url}}</h2>
<h3>use above link to visit your page from next time on</h3>
<h1>{{title}}</h1>
<p>
    {{details}}
</p>
<h3>{{oDetails}}</h3>